
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += config.title;
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title><%=pageTitle%></title>
  <style type="text/css">
    body, html {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 18px;
      line-height: 1.8;
      user-select: none;
      box-sizing: border-box;
      touch-action: manipulation;
      background-color: #f1f3f4;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    #content-outer {
      margin: 4% 14%;
      padding: 4% 8%;
      box-shadow: 0 0 3px -1px rgba(0,0,0,.3);
      border-radius: 5px;
      box-sizing: border-box;
      background: #fff;
      border-bottom: 1px solid #b5b5b5;
    }

    #content-inner {
      width: 100%;
      overflow: hidden;
    }

    .recent-post-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e0e0e0;
    }

    .recent-post-item .title {
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }

    .recent-post-item .time {
      color: #ccc;
      font-size: 14px;
      line-height: 32px;
      min-width: 81px;
      text-align: right;
    }

    #post img {
      max-width: 100%;
    }

    #post h1.title {
      text-align: center;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      line-height: 1;
    }

    #post .time {
      text-align: center;
      color: #ccc;
      font-size: 14px;
    }
    
    #post .content {
      margin-top: 8%;
    }

    #post .content blockquote {
      border-left: 3px solid #eee;
      padding-left: 20px;
      color: #666;
      margin: 0;
    }

    #post .content .gutter {
      display: none;
    }

    code, kbd, pre, samp {
      font-size: 16px !important;
    }

    #post .content figure {
      padding: 0 1em;
      background-color: #f1f3f4;
      border: 1px solid #e0e0e0;
      margin: 0;
      overflow: auto;
    }

    #post .content figure table {
      width: 100%;
    }

    .hljs {
      display: block;
      position: relative;
      overflow-x: auto;
      padding: 3em 24px 24px;
      color: #abb2bf;
      background: #282c34;
      border-radius: 6px;
    }

    .hljs-window-title {
      position: absolute;
      left: -75px;
      top: -1em;
    }

    .hljs-comment,.hljs-quote {
        color: #5c6370;
        font-style: italic;
    }

    .hljs-doctag,.hljs-keyword,.hljs-formula {
        color: #c678dd;
    }

    .hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst {
        color: #e06c75;
    }

    .hljs-literal {
        color: #56b6c2;
    }

    .hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string {
        color: #98c379;
    }

    .hljs-built_in,.hljs-class .hljs-title {
        color: #e6c07b;
    }

    .hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number {
        color: #d19a66;
    }

    .hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title {
        color: #61aeee;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .hljs-link {
        text-decoration: underline;
    }

    @media screen and (max-width: 1024px)  {
      #content-outer {
        margin: 2% 7%;
        padding: 2% 4%;
      }

      .recent-post-item:first-child {
        margin-top: 16px;
      }
    }

    @media screen and (max-width: 480px) {
      body{
        -webkit-text-size-adjust: none;
      }

      #content-outer {
        margin: 0;
        padding: 2% 4%;
        border-radius: 0;
      }
      
      .recent-post-item:first-child {
        margin-top: 32px;
      }

      .recent-post-item:last-child {
        border-bottom: none;
      }
    }
  </style>
</head>
<body>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(url => { %>
    <script src="<%=url%>"></script>
  <% }); %>
  <script>
    hljs.initHighlightingOnLoad();
    console.log(document.getElementsByClassName('hljs'), '====')
    document.addEventListener('DOMContentLoaded', (event) => {
      setTimeout(() => {
        document.querySelectorAll('.hljs').forEach((block) => {
          const firstChild = block.firstChild;
          const element = document.createElement('span');
          element.setAttribute('class', 'hljs-window-title')
          element.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle><circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle><circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle></g></svg>
          `;
          block.insertBefore(element, firstChild);
        });
      });
    });
  </script>
<% } %>
</body>
</html>
